<div class="contact-container">
  <mat-card class="contact-card">
    <mat-card-title>Contact Us</mat-card-title>
    <mat-card-content>
      <p>
        <mat-icon>email</mat-icon>
        <a href="mailto:support@luv2shop.com">support@luv2shop.com</a>
      </p>
      <p>
        <mat-icon>phone</mat-icon>
        <a href="tel:+1234567890">+123-456-7890</a>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="contact-card">
    <mat-card-title>Where We Are</mat-card-title>
    <mat-card-content>
      <p>
        Blvd. 21 Decembrie 1989, no. 77<br />
        The Office building, Luv2Shop,<br />
        Entrance A, 4th Floor<br />
        Cluj-Napoca, Cluj, 400604<br />
        Romania
      </p>
    </mat-card-content>
  </mat-card>
</div>
