.admin-buttons {
  margin-left: 15px;
  display: flex;
}
.btn {
  padding: 6px 12px;
  margin: 0;
  border-radius: 8px;
  font-size: 14px;
  line-height: 10000;
  display: flex;
  align-items: center;
  height: 50px;

}
